<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登陆</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/singin.css" rel="stylesheet" />
    <link href="/images/favicon.ico" rel="icon" />
</head>
<body>
<div class="container">
    <form class="form-signin" role="form" method="post" action="/dologin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" name="name" placeholder="User Name" required autofocus>
        <input type="password" class="form-control" name="pwd" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
<script src="/js/jquery-1.10.2.min.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
</body>
</html>