<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
</head>
<body>
    <form action="/doregister" method="post">
        <fieldset>
            <legend>用户注册</legend>
            <p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" />
            </p>
            <p>
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd" />
            </p>
            <p>
                <input type="submit" value="submit" />
            </p>
        </fieldset>
    </form>
</body>
</html>