<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>信息</title>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">相册</a></li>
        <li class="active">信息</li>
    </ol>
    <h3><%= msg %></h3>
    <h3>即将在<span id="sec">3</span>秒后跳转至首页！</h3>
</div>
<script>
    function redirectPage() {
        var secObj = document.getElementById('sec');
        var secNum = secObj.innerText;
        if (secNum == 0) {
            window.location.href = '/';
        } else {
            secObj.innerText = --secNum;
        }
    }
    //定时器
    setInterval(redirectPage, 1000);

</script>
</body>
</html>